* {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 183, 224);
}

.box {
    list-style-type: none;
    display: flex;
    background-color: rgb(0, 0, 0);
}

.box1 {
    border: 2px solid black;
    padding: 14px 16px;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 25px;

}

.box1:hover {
    background-color: rgb(220, 239, 6);
}

article {
    padding: 23px;
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    height: 250px;
    background-color: rgb(244, 244, 244);
    /* overflow: hidden; */

}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(228, 222, 222);

}

p {
    padding: 10px;
    background-color: rgb(234, 180, 217);
}

.section1 {
    border: 2px solid black;
    margin: 20px;
    overflow: hidden;
}

.section2 {
    border: 2px solid black;
    margin: 20px;
    overflow: hidden;

}

aside {
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    background-color: rgb(229, 252, 133)
}

footer {
    list-style-type: none;
    margin-top: 280px;
    display: flex;
    background-color: black;
}