*{
    background-color: rgb(245, 234, 204);
}
ul{
    list-style-type: none;
    display: flex;

   
}
nav{
    display:flex;
    justify-content: space-around;  
    border:2px solid black; 
   
}
.right ul{
    padding:20px;
    font-size: 30px;
    gap:34px;
    display:flex;

   
    
}
.logo{
    margin:20px;
   
    
}





