
@media only screen {
    
}
* {
    background-color: rgb(227, 223, 207);
    margin: 0;
    padding: 0;
}

.box {

    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.box1 {

    /* display: block; */
    padding: 20px;
    text-align: center;
    /* border:2px solid black; */
    width: 400px;
    color: white;
    font-size: 23px;
    background-color: rgb(11, 2, 4);
}

li:hover {
    background-color: rgb(18, 214, 57);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
    border: 6px solid black;
}