body{
    background-color: rgb(238, 234, 237);
    color: rgb(0, 0, 0);
    
}

td{
    border:2px solid black ;
}

p{
    background-color: blueviolet;
}

a1{
    background-color: aqua;
}

a2{
    background-color: bisque;
}
/*div{
    background-color: aquamarine;
}*/

span{
    
    background-color:rgb(73, 87, 239);
}

#firstdiv{/*id*/
    color: aqua;

}
.red{ /*class*/
    color:rgb(198, 17, 17);
}
.hi{
    color: blue;
}

h1{
    text-align: center;
    background-color: rgb(199, 67, 67);
}

body{
    background-color: aqua;
}